{% extends 'crud/base.html' %}
{% block body %}

<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" class="table-primary"  required="required"/>
        <br>
        <br>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" class="form-primary"  required="required"/>
        <button type="submit" class="btn btn-sm btn-primary"> ADD</button>
    </div>
</form>
<br />
<table class="table table-bordered">
    <!-- <thead class="alert-warning"> -->
        <tr>
            <th><center>Firstname</center></th>
            <th><center>Lastname</center></th>
            <th><center>Actions</center></th>
        </tr>
    <!-- </thead> -->
    <tbody>
        {% for member in members %}
        <tr>
            <td><center>{{ member.firstname }}</center></td>
            <td><center>{{ member.lastname }}</center></td>
            <td><center><a class="btn btn-primary" href="edit/{{ member.id }}"> Edit</a> <a class="btn btn-danger" href="delete/{{ member.id }}">Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}